# Afternoon assignment

In [2]:
import pandas as pd
import numpy as np

no.1

In [3]:
x = pd.Series([4,65,436,3,9])
y = pd.Series([7,0,3,897,9])

print("Original Series:")
print(x)
print("Second group:")
print(y)

print("\nCompare the elements of the said Series:")
print(x == y)

Original Series:
0      4
1     65
2    436
3      3
4      9
dtype: int64
Second group:
0      7
1      0
2      3
3    897
4      9
dtype: int64

Compare the elements of the said Series:
0    False
1    False
2    False
3    False
4     True
dtype: bool

n0.2

In [4]:
s1 = pd.Series([2,4,6,8,14])
s2 = pd.Series([1,3,5,7,9])

print(s1)
print(s2)

print("\nAdd :")
print(s1 + s2)

print("\nSubtract :")
print(s1 - s2)

print("\nMultiply:")
print(s1 * s2)

print("\nDivide :")
print(s1 / s2)

0     2
1     4
2     6
3     8
4    14
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64

Add :
0     3
1     7
2    11
3    15
4    23
dtype: int64

Subtract :
0    1
1    1
2    1
3    1
4    5
dtype: int64

Multiply:
0      2
1     12
2     30
3     56
4    126
dtype: int64

Divide :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

no.3

In [5]:
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
s = pd.Series(dictionary1)
print(dictionary1)
print(s)

{'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

no.4

In [6]:
b = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
print(b)
a = np.array(b)
print(a)

0     Love
1      800
2      Joy
3    789.9
4    Peace
5     True
dtype: object
['Love' 800 'Joy' 789.9 'Peace' True]

no.5

In [7]:
df = pd.read_csv('AfricaCupofNationsMatches.csv')
mod= df['HomeTeamGoals'].mode()[0]

df['HomeTeamGoals'] = df['HomeTeamGoals'].apply(lambda x: mod if x == mod else 'Other')
print("\nSeries with most frequent value and 'Other':")
print(df['HomeTeamGoals'])

Series with most frequent value and 'Other':
0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

# Part 2
no.1

In [8]:
df = pd.read_csv('AfricaCupofNationsMatches.csv')

no.2

In [9]:
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

no.3

In [10]:
df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

no.4

In [11]:
df[df['HomeTeam'] == 'Egypt']

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

no.5

In [12]:
df.shape

(622, 12)

no.6

In [13]:
df[df['Attendance'].isna()]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
565,2017,29 January 2017 (2017-01-29),20:00,Egypt,Morocco,1.0,0.0,Quarter-finals,NaN,Stade de Port-Gentil,Port-Gentil,NaN
566,2017,1 February 2017 (2017-02-01),20:00,Burkina Faso,Egypt,1.0,1.0,Semi-finals,Egypt win on Penalities 3-4,Stade de l'Amitié,Libreville,NaN
567,2017,2 February 2017 (2017-02-02),20:00,Cameroon,Ghana,2.0,0.0,Semi-finals,NaN,Stade de Franceville,Franceville,NaN
568,2017,4 February 2017 (2017-02-04),20:00,Burkina Faso,Ghana,1.0,0.0,Third place play-off,NaN,Stade de Port-Gentil,Port-Gentil,NaN
569,2017,5 February 2017 (2017-02-05),20:00,Egypt,Cameroon,1.0,2.0,Final,NaN,Stade de l'Amitié,Libreville,NaN

no.7

In [14]:
df[df['HomeTeamGoals'].between(3, 6)]

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
553,2017,20 January 2017 (2017-01-20),20:00,Morocco,Togo,3.0,1.0,Group C,NaN,Stade d'Oyem,Oyem,NaN
585,2019,27 June 2019 (2019-06-27),22:00,Kenya,Tanzania,3.0,2.0,Group C,NaN,30 June Stadium,Cairo,7233.0
595,2019,24 June 2019 (2019-06-24),22:00,Mali,Mauritania,4.0,1.0,Group E,NaN,Suez Stadium,Suez,6202.0
608,2019,6 July 2019 (2019-07-06),18:00,Nigeria,Cameroon,3.0,2.0,Round of 16,NaN,Alexandria Stadium,Alexandria,10000.0
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0

no.8

In [15]:
df.at[2, 'AwayTeamGoals'] = 10

no.9

In [16]:
df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
521,2012,12-Feb-12,20:30[note 1],Zambia,Ivory Coast,0.0,0.0,Final,Zambia win on Penalities 8-7,Stade d'Angondjé,Libreville,40000.0
549,2017,23 January 2017 (2017-01-23),20:00,Zimbabwe,Tunisia,2.0,4.0,Group B,NaN,Stade de l'Amitié,Libreville,NaN
398,2004,25-Jan-04,16:30,Zimbabwe,Egypt,1.0,2.0,Group C,NaN,Stade Taïeb El Mhiri,Sfax,22000.0
437,2006,23-Jan-06,20:00,Zimbabwe,Senegal,0.0,2.0,Group D,NaN,Port Said Stadium,Port Said,15000.0
575,2019,30 June 2019 (2019-06-30),21:00,Zimbabwe,DR Congo,0.0,4.0,Group A,NaN,30 June Stadium,Cairo,4364.0

no.10

In [17]:
df.columns.values.tolist()

['Year',
 'Date ',
 'Time ',
 'HomeTeam',
 'AwayTeam',
 'HomeTeamGoals',
 'AwayTeamGoals',
 'Stage',
 'SpecialWinConditions',
 'Stadium',
 'City',
 'Attendance']

no.11

In [18]:
df.insert(loc=9, column='DayWeather', value='sunny')

no.12

In [19]:
new_rows = pd.DataFrame({'column1': [1, 2], 'column2': [3, 4]})
df = pd.concat([df, new_rows])

no.13

In [20]:
df['AwayTeam'].replace('Uganda', 'China')

0              Egypt
1       South Africa
2           Ethiopia
3           Ethiopia
4           Ethiopia
           ...
619          Nigeria
620          Nigeria
621          Algeria
0                NaN
1                NaN
Name: AwayTeam, Length: 624, dtype: object

no.14

In [21]:
df.reset_index(drop=True)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,DayWeather,Stadium,City,Attendance,column1,column2
0,1957.0,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,sunny,Municipal Stadium,Khartoum,30000.0,NaN,NaN
1,1957.0,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,sunny,NaN,NaN,NaN,NaN,NaN
2,1957.0,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,sunny,Municipal Stadium,Khartoum,30000.0,NaN,NaN
3,1959.0,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,sunny,Prince Farouk Stadium,Cairo,30000.0,NaN,NaN
4,1959.0,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,sunny,Prince Farouk Stadium,Cairo,20000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2019.0,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,sunny,Cairo International Stadium,Cairo,49775.0,NaN,NaN
620,2019.0,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,sunny,Al Salam Stadium,Cairo,6340.0,NaN,NaN
621,2019.0,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,sunny,Cairo International Stadium,Cairo,75000.0,NaN,NaN
622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0
623,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0

no.15

In [22]:
if 'Stadium' in df.columns:
    print("The 'Stadium' column is present in the DataFrame.")
else:
    print("The 'Stadium' column is not present in the DataFrame.")

The 'Stadium' column is present in the DataFrame.

no.16

In [23]:
df['AwayTeamGoals'].astype(float)

0       2.0
1       NaN
2      10.0
3       0.0
4       0.0
       ...
619     1.0
620     1.0
621     1.0
0       NaN
1       NaN
Name: AwayTeamGoals, Length: 624, dtype: float64

no.17

In [24]:
df.drop(df.tail(10).index,inplace=True)

no.18

In [25]:
for index, row in df.iterrows():
    print(row['AwayTeam'], row['AwayTeamGoals'])

 Ethiopia 10.0
 Ethiopia 0.0
 Ethiopia 0.0
 Sudan 1.0
 Tunisia 2.0
 Uganda 1.0
 Uganda 0.0
Egypt 2.0
 Tunisia 1.0
 Ethiopia 0.0
 Tunisia 2.0
 Nigeria 3.0
 Sudan 2.0
 Nigeria 0.0
 Ethiopia 0.0
 Sudan 0.0
 Ethiopia 0.0
 Tunisia 0.0
 Ethiopia 1.0
 Congo-Léopoldville 2.0
 Congo-Léopoldville 0.0
 Ivory Coast 1.0
 Ivory Coast 1.0
 Tunisia 2.0
 Uganda 1.0
 Algeria 0.0
 Ivory Coast 0.0
 Uganda 0.0
 Uganda 1.0
 Algeria 1.0
 Senegal 2.0
 Congo-Brazzaville 0.0
 Congo-Brazzaville 1.0
 Congo-Kinshasa 1.0
 Senegal 1.0
 Congo-Brazzaville 1.0
 Congo-Kinshasa 3.0
 Ivory Coast 3.0
 Ethiopia 0.0
 Ghana 0.0
 Ivory Coast 2.0
 Ethiopia 0.0
 Ethiopia 2.0
 Sudan 0.0
 Ethiopia 1.0
 Cameroon 1.0
 Congo-Kinshasa 0.0
 Guinea 1.0
 Guinea 2.0
 Ghana 1.0
 Ghana 1.0
 Congo-Kinshasa 0.0
 Ghana 2.0
 Sudan 2.0
 Ivory Coast 1.0
 Ghana 0.0
 Kenya 1.0
 Togo 3.0
 Kenya 1.0
 Togo 0.0
 Kenya 1.0
 Mali 1.0
 Morocco 1.0
 Sudan 1.0
 Sudan 1.0
 Congo 0.0
 Zaire 1.0
 Sudan 2.0
 Congo 1.0
 Mali 4.0
 Zaire 2.0
 Mali 2.0
 Uganda 1.0
 Ivory Coast 0.0
 Zambia 1.0
 Uganda 2.0
 Ivory Coast 0.0
 Uganda 0.0
 Guinea 1.0
 Mauritius 0.0
 Mauritius 1.0
 Zaire 1.0
 Guinea 1.0
 Mauritius 1.0
 Zaire 3.0
 Zambia 4.0
 Egypt 4.0
 Zambia 2.0
 Zambia 0.0
 Uganda 0.0
 Guinea 1.0
 Uganda 1.0
 Guinea 2.0
 Uganda 1.0
 Egypt 1.0
 Zaire 2.0
 Sudan 2.0
 Sudan 0.0
 Zaire 0.0
 Nigeria 1.0
 Sudan 1.0
 Nigeria 1.0
 Egypt 1.0
 Nigeria 1.0
 Egypt 2.0
 Egypt 2.0
 Morocco 1.0
 Zambia 1.0
 Upper Volta 2.0
 Upper Volta 0.0
 Ghana 1.0
 Nigeria 0.0
 Upper Volta 0.0
 Tunisia 1.0
 Congo 1.0
 Uganda 1.0
 Congo 0.0
 Tunisia 0.0
 Morocco 0.0
 Tunisia 0.0
 Nigeria 1.0
 Tunisia 11.0
 Uganda 0.0
 Tanzania 1.0
 Ivory Coast 1.0
 Tanzania 1.0
 Ivory Coast 0.0
 Tanzania 1.0
 Egypt 0.0
 Algeria 0.0
 Guinea 1.0
 Morocco 0.0
 Guinea 0.0
 Guinea 2.0
 Ghana 0.0
 Morocco 0.0
 Egypt 2.0
 Egypt 0.0
 Algeria 0.0
 Ghana 2.0
 Tunisia 1.0
 Ghana 0.0
 Tunisia 0.0
 Tunisia 0.0
 Cameroon 0.0
 Ethiopia 0.0
 Zambia 0.0
 Ethiopia 0.0
 Nigeria 1.0
 Ethiopia 0.0
 Nigeria 0.0
 Algeria 2.0
 Zambia 1.0
 Algeria 0.0
 Libya 1.0
 Togo 0.0
 Cameroon 0.0
 Togo 1.0
 Egypt 2.0
 Togo 0.0
 Cameroon 2.0
 Nigeria 2.0
 Malawi 0.0
 Nigeria 2.0
 Ghana 0.0
 Nigeria 0.0
 Malawi 0.0
 Nigeria 2.0
 Cameroon 0.0
 Egypt 1.0
 Nigeria 1.0
 Egypt 0.0
 Mozambique 0.0
 Mozambique 0.0
 Ivory Coast 0.0
 Senegal 0.0
 Mozambique 0.0
 Morocco 0.0
 Zambia 2.0
 Zambia 0.0
 Morocco 1.0
 Zambia 0.0
 Algeria 2.0
 Ivory Coast 0.0
 Morocco 0.0
 Morocco 2.0
 Cameroon 0.0
 Zaire 1.0
 Algeria 1.0
 Zaire 1.0
 Algeria 0.0
 Zaire 0.0
 Ivory Coast 0.0
 Egypt 0.0
 Kenya 0.0
 Nigeria 1.0
 Kenya 0.0
 Kenya 0.0
 Egypt 0.0
 Algeria 1.0
 Cameroon 1.0
 Algeria 1.0
 Nigeria 0.0
 Nigeria 1.0
 Egypt 1.0
 Egypt 0.0
 Ivory Coast 0.0
 Ivory Coast 0.0
 Egypt 0.0
 Cameroon 0.0
 Kenya 0.0
 Kenya 0.0
 Cameroon 0.0
 Senegal 0.0
 Kenya 0.0
 Nigeria 2.0
 Senegal 1.0
 Senegal 0.0
 Nigeria 0.0
 Senegal 1.0
 Kenya 1.0
 Kenya 0.0
 Morocco 0.0
 Zaire 1.0
 Zaire 1.0
 Algeria 0.0
 Congo 0.0
 Congo 1.0
 Egypt 0.0
 Zambia 0.0
 Egypt 0.0
 Zaire 0.0
 Senegal 0.0
 Zambia 0.0
 Congo 1.0
 Nigeria 1.0
 Ivory Coast 0.0
 Cameroon 1.0
 Ghana 0.0
 Mali 2.0
 Zaire 1.0
 Zaire 1.0
 Gabon 0.0
 Gabon 0.0
 Egypt 0.0
 Sierra Leone 0.0
 Sierra Leone 0.0
 Ivory Coast 0.0
 Guinea 0.0
 Guinea 1.0
 Senegal 0.0
 Nigeria 2.0
 Mali 1.0
 Senegal 0.0
 Ivory Coast 2.0
 Ivory Coast 2.0
 Mali 0.0
 Mali 1.0
 Zambia 1.0
 Cameroon 0.0
 Angola 1.0
 Egypt 1.0
 Angola 0.0
 Egypt 1.0
 Cameroon 3.0
 Algeria 0.0
 Burkina Faso 1.0
 Sierra Leone 0.0
 Burkina Faso 1.0
 Burkina Faso 1.0
 Sierra Leone 0.0
 Liberia 2.0
 Zaire 0.0
 Liberia 0.0
 Ivory Coast 0.0
 Mozambique 1.0
 Tunisia 1.0
 Mozambique 0.0
 Ivory Coast 1.0
 Mozambique 0.0
 Algeria 1.0
 Egypt 1.0
 Tunisia 1.0
 Zaire 0.0
 Ghana 0.0
 Tunisia 4.0
 Zambia 1.0
 Tunisia 0.0
 Cameroon 1.0
 Guinea 1.0
 Guinea 2.0
 Algeria 1.0
 Guinea 0.0
 Algeria 1.0
 Togo 1.0
 Tunisia 0.0
 DR Congo 1.0
 Ghana 1.0
 Ghana 0.0
 Togo 1.0
 Angola 0.0
 Namibia 3.0
 South Africa 1.0
 Namibia 3.0
 Angola 2.0
 Namibia 1.0
 Zambia 1.0
 Mozambique 0.0
 Zambia 0.0
 Mozambique 0.0
 Mozambique 1.0
 Egypt 0.0
 DR Congo 1.0
 Burkina Faso 1.0
 Egypt 0.0
 South Africa 2.0
 South Africa 2.0
 Egypt 2.0
 Burkina Faso 4.0
 Egypt 2.0
 Cameroon 1.0
 Togo 1.0
 Togo 0.0
 Ivory Coast 0.0
 Ivory Coast 2.0
 Togo 1.0
 Gabon 1.0
 Algeria 0.0
 DR Congo 0.0
 Gabon 1.0
 Algeria 1.0
 Gabon 0.0
 Zambia 0.0
 Senegal 3.0
 Senegal 0.0
 Burkina Faso 1.0
 Burkina Faso 2.0
 Senegal 2.0
 Tunisia 2.0
 Congo 0.0
 Congo 0.0
 Morocco 0.0
 Morocco 0.0
 Congo 0.0
 Algeria 1.0
 Ghana 0.0
 Tunisia 1.0
 Senegal 1.0
 South Africa 0.0
 Tunisia 0.0
 Tunisia 2.0
 Cameroon 2.0
 Liberia 1.0
 Nigeria 1.0
 Nigeria 0.0
 Algeria 2.0
 Algeria 0.0
 Nigeria 1.0
 Burkina Faso 0.0
 Ghana 0.0
 Ghana 0.0
 Morocco 2.0
 Morocco 1.0
 Ghana 2.0
 DR Congo 0.0
 Ivory Coast 0.0
 Ivory Coast 0.0
 Togo 0.0
 Togo 0.0
 Ivory Coast 1.0
 Senegal 1.0
 Tunisia 0.0
 Tunisia 0.0
 Zambia 0.0
 Zambia 1.0
 Tunisia 0.0
 Mali 2.0
 Ghana 0.0
 Egypt 0.0
 DR Congo 0.0
 Senegal 2.0
 Cameroon 3.0
 Mali 0.0
 Cameroon 0.0
 Rwanda 1.0
 Guinea 2.0
 Guinea 1.0
 DR Congo 0.0
 Guinea 1.0
 DR Congo 0.0
 Mali 3.0
 Burkina Faso 0.0
 Kenya 0.0
 Mali 3.0
 Mali 1.0
 Kenya 3.0
 Egypt 2.0
 Algeria 1.0
 Zimbabwe 3.0
 Egypt 1.0
 Egypt 0.0
 Zimbabwe 2.0
 Morocco 1.0
 Benin 0.0
 South Africa 0.0
 Benin 0.0
 South Africa 1.0
 Benin 1.0
 Guinea 1.0
 Senegal 0.0
 Nigeria 2.0
 Algeria 1.0
 Nigeria 1.0
 Mali 0.0
 Mali 1.0
 Morocco 1.0
 Libya 0.0
 Ivory Coast 1.0
 Ivory Coast 2.0
 Morocco 0.0
 Ivory Coast 1.0
 Morocco 0.0
 Angola 1.0
 DR Congo 2.0
 DR Congo 0.0
 Togo 0.0
 Togo 2.0
 DR Congo 0.0
 Zambia 1.0
 Guinea 2.0
 Guinea 2.0
 South Africa 0.0
 Guinea 3.0
 South Africa 0.0
 Ghana 0.0
 Senegal 2.0
 Senegal 0.0
 Zimbabwe 0.0
 Senegal 1.0
 Zimbabwe 2.0
 Senegal 3.0
 DR Congo 1.0
 Tunisia 1.0
 Ivory Coast 1.0
 Senegal 1.0
 Ivory Coast 1.0
 Nigeria 1.0
 Ivory Coast 0.0
 Guinea 1.0
 Morocco 5.0
 Morocco 2.0
 Namibia 0.0
 Morocco 0.0
 Namibia 1.0
 Ivory Coast 1.0
 Benin 0.0
 Benin 1.0
 Mali 0.0
 Benin 0.0
 Mali 0.0
 Cameroon 2.0
 Zambia 3.0
 Zambia 1.0
 Sudan 0.0
 Sudan 0.0
 Zambia 1.0
 Senegal 2.0
 Angola 1.0
 Angola 3.0
 South Africa 1.0
 South Africa 1.0
 Angola 0.0
 Nigeria 1.0
 Guinea 0.0
 Angola 1.0
 Cameroon 3.0
 Cameroon 1.0
 Egypt 4.0
 Ivory Coast 2.0
 Egypt 1.0
 Mali 4.0
 Algeria 0.0
 Algeria 1.0
 Malawi 0.0
 Algeria 0.0
 Malawi 1.0
 Burkina Faso 0.0
 Togo nan
 Togo nan
 Ghana 1.0
 Ghana 1.0
 Togo nan
 Nigeria 1.0
 Benin 2.0
 Benin 0.0
 Mozambique 0.0
 Benin 0.0
 Mozambique 0.0
 Gabon 1.0
 Tunisia 1.0
 Tunisia 0.0
 Zambia 2.0
 Zambia 2.0
 Tunisia 2.0
 Ghana 1.0
 Algeria 3.0
 Cameroon 1.0
 Nigeria 0.0
 Nigeria 0.0
 Egypt 4.0
 Algeria 0.0
 Egypt 1.0
 Sudan 0.0
 Equatorial Guinea 0.0
 Mali 1.0
 Tunisia 1.0
 Ghana 0.0
 Ivory Coast 1.0
 Mali 2.0
 Ivory Coast 0.0
 Cape Verde 0.0
 Mali 1.0
 Nigeria 2.0
 Togo 0.0
 Nigeria 4.0
 Ghana 1.0
 Ghana 1.0
 Burkina Faso 0.0
 DR Congo 4.0
 Equatorial Guinea 2.0
 Guinea 0.0
 Algeria 1.0
 Ivory Coast 3.0
 Equatorial Guinea 0.0
 Equatorial Guinea 0.0
 Ghana 0.0
 Guinea-Bissau 1.0
 Cameroon 1.0
 Burkina Faso 1.0
 Guinea-Bissau 1.0
 Gabon 0.0
 Burkina Faso 2.0
 Zimbabwe 2.0
 Senegal 2.0
 Tunisia 2.0
 Zimbabwe 0.0
 Algeria 2.0
 Tunisia 4.0
 Togo 0.0
 Morocco 0.0
 DR Congo 2.0
 Togo 1.0
 Ivory Coast 0.0
 DR Congo 3.0
 Uganda 0.0
 Egypt 0.0
 Mali 0.0
 Uganda 0.0
 Ghana 0.0
 Mali 1.0
 Tunisia 0.0
 Cameroon 0.0
 Ghana 2.0
 Morocco 0.0
 Egypt 1.0
 Ghana 0.0
 Ghana 0.0
 Cameroon 2.0
 Zimbabwe 0.0
 Uganda 2.0
 Zimbabwe 1.0
 DR Congo 0.0
 Egypt 2.0
 DR Congo 4.0
 Burundi 0.0
 Madagascar 2.0
 Guinea 0.0
 Burundi 0.0
 Nigeria 0.0
 Guinea 2.0
 Tanzania 0.0
 Kenya 0.0
 Algeria 1.0
 Tanzania 2.0
 Senegal 3.0
 Algeria 3.0
 Namibia 0.0
 South Africa 0.0
 Ivory Coast 0.0
 Namibia 0.0
 Morocco 1.0
 Ivory Coast 4.0
 Angola 1.0
 Mauritania 1.0
 Mali 1.0
 Angola 0.0
 Tunisia 0.0
 Mali 1.0
 Guinea-Bissau 0.0
 Benin 2.0
 Ghana 0.0
 Guinea-Bissau 0.0
 Cameroon 0.0
 Ghana 2.0
 Benin 1.0
 Senegal 1.0
 Cameroon 2.0
 South Africa 1.0
 DR Congo 2.0
 Guinea 0.0
 Ivory Coast 1.0
 Tunisia 1.0

no.19

In [26]:
#new_order = ['Date', 'Year', 'Time']
df.iloc[:, [1, 0, 2]]

                        Date     Year  Time
2                   16-Feb-57  1957.0    NaN
3                   22-May-59  1959.0    NaN
4                   25-May-59  1959.0    NaN
5                   29-May-59  1959.0    NaN
6                   14-Jan-62  1962.0    NaN
..                        ...     ...    ...
609  6 July 2019 (2019-07-06)  2019.0  21:00
610  7 July 2019 (2019-07-07)  2019.0  18:00
611  7 July 2019 (2019-07-07)  2019.0  21:00
612  8 July 2019 (2019-07-08)  2019.0  18:00
613  8 July 2019 (2019-07-08)  2019.0  21:00

[612 rows x 3 columns]

no.20

In [27]:
df = df[df.HomeTeamGoals != 0]
print("\nDataFrame after deleting rows with HomeTeamGoals value of 0:")
print(df)

DataFrame after deleting rows with HomeTeamGoals value of 0:
       Year                     Date   Time      HomeTeam   AwayTeam  \
2    1957.0                 16-Feb-57    NaN       Egypt    Ethiopia
3    1959.0                 22-May-59    NaN        Egypt   Ethiopia
4    1959.0                 25-May-59    NaN       Sudan    Ethiopia
5    1959.0                 29-May-59    NaN        Egypt      Sudan
6    1962.0                 14-Jan-62    NaN    Ethiopia     Tunisia
..      ...                       ...    ...          ...        ...
606  2019.0  5 July 2019 (2019-07-05)  18:00     Morocco       Benin
608  2019.0  6 July 2019 (2019-07-06)  18:00     Nigeria    Cameroon
610  2019.0  7 July 2019 (2019-07-07)  18:00  Madagascar    DR Congo
611  2019.0  7 July 2019 (2019-07-07)  21:00     Algeria      Guinea
613  2019.0  8 July 2019 (2019-07-08)  21:00       Ghana     Tunisia

     HomeTeamGoals  AwayTeamGoals             Stage  \
2              4.0           10.0             Final
3              4.0            0.0  Final Tournament
4              1.0            0.0  Final Tournament
5              2.0            1.0  Final Tournament
6              4.0            2.0        Semifinals
..             ...            ...               ...
606            1.0            1.0       Round of 16
608            3.0            2.0       Round of 16
610            2.0            2.0       Round of 16
611            3.0            0.0       Round of 16
613            1.0            1.0       Round of 16

                  SpecialWinConditions DayWeather                 Stadium  \
2                                  NaN      sunny       Municipal Stadium
3                                  NaN      sunny   Prince Farouk Stadium
4                                  NaN      sunny   Prince Farouk Stadium
5                                  NaN      sunny   Prince Farouk Stadium
6                                  NaN      sunny  Hailé Sélassié Stadium
..                                 ...        ...                     ...
606        Benin win on Penalities 1-4      sunny        Al Salam Stadium
608                                NaN      sunny      Alexandria Stadium
610  Madagascar  win on Penalities 4-2      sunny      Alexandria Stadium
611                                NaN      sunny         30 June Stadium
613      Tunisia win on Penalities 4-5      sunny        Ismailia Stadium

             City  Attendance  column1  column2
2        Khartoum     30000.0      NaN      NaN
3           Cairo     30000.0      NaN      NaN
4           Cairo     20000.0      NaN      NaN
5           Cairo     30000.0      NaN      NaN
6     Addis Ababa     30000.0      NaN      NaN
..            ...         ...      ...      ...
606         Cairo      7500.0      NaN      NaN
608    Alexandria     10000.0      NaN      NaN
610    Alexandria      5890.0      NaN      NaN
611         Cairo      8205.0      NaN      NaN
613      Ismailia      8890.0      NaN      NaN

[487 rows x 15 columns]